html
{
    color:#000;
    background:#FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
{
    padding:0;
    outline: none;
    margin:0 auto;
    -webkit-text-size-adjust:none;
}
table /* 设置table 的样式*/
{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img
{
    border:0;
}
em, strong
{
    font-style:normal;
    font-weight:normal;
}
li
{
    list-style:none;
}
h1, h2, h3, h4, h5, h6
{
    font-size:100%;
    font-weight:normal;
}
body, input, button, textarea
{
    font-size:12px;
}
a{ text-decoration:none;outline:none;}
a:hover{ cursor:pointer; text-decoration: none;}
th, td{vertical-align:top;}
.text-center{
    text-align: center;
}
*{
    position: relative;
}
img{
    vertical-align: middle;
}
.padding10{
    padding:0 10px;
}
.overflow-auto{
    overflow:hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
a{
    cursor: pointer;
}
.container{
    width: 1200px;
    max-width: 1200px!important;
    padding:0 15px;
    position: relative;
    overflow: hidden;
}
.container2{
     width: 1200px;
     padding:0 15px;
     position: relative;
 }
.content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.content2{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.content3{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.content4{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}
.hide {
    display: none !important;
}
body{
    width: auto;
    min-width: 1230px;
    background: #f1f4fa;
}
.no-border{
    border:none!important;
    padding:0!important;
}
.txtmap{
    height: 40px;
    line-height: 40px;
    color: #777777;
    font-size: 14px;
}
.txtmap a{
    text-decoration: none;
    color:#0f6cb2 ;
}
.txtmap a:hover{
    text-decoration: underline;
}
.hrblue{border-top: 2px solid #0a73b5;height: 0px;width: 100%;margin: 0;padding: 0;}
.hrgray{border-top: 1px solid #e5e6e8;height: 0px;width: 100%;margin: 0;padding: 0;}
.clear{clear: both;}
.border-top-blue{ border-top: 3px solid #0873b6;}
.mb30{margin-bottom: 30px!important;}
.mb40{margin-bottom: 40px!important;}
.mp35{margin-top: 35px;}
.mp30{margin-top: 30px;}
.ml-10{margin-left: -10px;}
.ml16{margin-left: 16px;}
.ml0{margin-left: 0!important;}
.mr5{margin-right: 5px;}
.p30{padding: 30px;}
.pl0{padding-left: 0!important;}
.w-max{width: 100%;}


.BMap_noprint.anchorTR{
    display: none!important;
}
.chk{width:12px;height:12px;display:inline-block;vertical-align:middle;background:transparent url(../img/personal/checkbox1.png)}.chk.active{background-image:url(../img/personal/checkbox2.png)}

.fd{
    width: 583px;
}
.fd,.fd p,.fd a,.fd span{
    padding: 0;
    margin: 0;
    position: inherit;
}
#showbox { background:#eee;}
#showbox span { background:url(../images/whitebg.png) repeat;}
#showsum {margin-top:10px;margin-left: 23px;}
#showsum span { border:1px solid #ddd;}
#showsum span.sel { border:1px solid #428bca;}

.showpage { width:583px; position:relative;}
.showpage a { display:block; width:15px; border:1px solid #ddd; height:85px; line-height:85px; background:#eee; text-align:center; font-size:18px; position:absolute; left:0; top:-87px; text-decoration:none; color:#999;}
.showpage a#shownext { left:auto; right:0;}
.showpage a:hover { background:#ccc; color:#777;}
